/* RGB - kleuren schema

rgb(34, 132, 220) - Blauw
    Shades
    rgb(34, 132, 220)
    rgb(30, 116, 193)
    rgb(26, 99, 165)
    rgb(21, 83, 137)
    rgb(17, 66, 110)
    rgb(13, 50, 82)
    rgb(9, 33, 55)
    rgb(4, 17, 27)
rgb(220, 34, 132) - Roze
rgb(132, 220, 34) - Groen
*/
body {
  margin: 0px;
}

.begrip {
  font-weight: bold;
  color: rgb(220, 34, 132);
}

.skill {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(13, 50, 82);
  padding: 5px;
  padding-bottom: 19px;
  width: 20%;
  text-align: center;
}

.skilltable {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}

.skillName {
  width: 50%;
}

.skillPoints {
  width: 10%;
}

.content {
  margin: auto;
  width: 60%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.basis {
  background-color: rgba(34, 132, 220, 0.4);
}

.right {
  float:right;
}

h1 {
  text-align: center;
}

p {
  margin-bottom: 0px;
}

pre {
  margin-top: 0px;
}

a {
  color: rgba(220, 34, 132, 0.6);
}

a:hover {
  color: rgba(220, 34, 132, 1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(34, 132, 220);
}

nav ul li {
  float: left;
}

nav li a {
  display: block;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

nav li a.active {
  background-color: rgba(132, 220, 34, 0.8);
  color: #000;
}

nav li a:hover:not(.active) {
  background-color: rgba(132, 220, 34, 0.4);
  color: #000;
}

nav li a:hover.active {
  background-color: rgba(132, 220, 34, 1);
  color: #000;
}

.inhoud {
  margin-left:5%;
  margin-right: 5%;
  padding:1px 16px;
}
