/* RGB - kleuren schema

rgb(34, 132, 220) - Blauw
    Shades
    rgb(34, 132, 220)
    rgb(30, 116, 193)
    rgb(26, 99, 165)
    rgb(21, 83, 137)
    rgb(17, 66, 110)
    rgb(13, 50, 82)
    rgb(9, 33, 55)
    rgb(4, 17, 27)
    tinten
    rgb(34, 132, 220)
    rgb(62, 147, 224)
    rgb(89, 163, 229)
    rgb(117, 178, 233)
    rgb(145, 194, 237)
    rgb(172, 209, 242)
    rgb(200, 224, 246)
    rgb(227, 240, 251)
rgb(220, 34, 132) - Roze
rgb(132, 220, 34) - Groen
*/
:root {
  --main: rgb(34, 132, 220);
  --main-s2: rgb(26, 99, 165);
  --main-s4: rgb(17, 66, 110);
  --main-t2: rgb(89, 163, 229);
  --main-t4: rgb(145, 194, 237);
  --main-t6: rgb(200, 224, 246);
  --main-t8: rgb(227, 240, 251);
  --accent1: rgb(220, 34, 132);
  --accent1-s2: rgba(220, 34, 132, 0.8);
  --accent2: rgb(132, 220, 34);
  --accent2-s2: rgba(132, 220, 34, 0.8);
  --accent2-s4: rgba(132, 220, 34, 0.6);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin:0;
}

.begrip {
  font-weight: bold;
  color: var(--accent1);
}

.skill {
  border-style: solid;
  border-width: 3px;
  border-color: var(--main-s2);
  padding: 4px;
  margin: 5px;
  width: max(30%, 200px);
  min-width: 160px;
  text-align: center;
  float: left;
  min-height: 340px;
}

@media only screen and (max-width: 1235px) {
  .skill {
    width: max(70%, 400px);
    margin-left: auto;
    margin-right: auto;
    min-height: inherit;
    padding-bottom: 5px;
    float: none;
  }
}

.skilltable {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
}

.skillName {
  width: 50%;
}

.skillPoints {
  width: 10%;
  text-align: center;
}

.content {
  margin: auto;
  width: max(60%, 500px);
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.basis {
  background-color: var(--main-t4);
}

.html {
  background-color: var(--main-t6);
}

.stijl {
  background-color: var(--main-t8);
}

.right {
  float:right;
}

.left {
  float:left;
}

img {
  margin-left: 15px;
}

h1 {
  text-align: center;
}

p {
  margin-bottom: 0px;
}

pre {
  margin-top: 0px;
}

a {
  color: var(--accent1);
}

a:hover {
  color: var(--accent1-s2);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--main);
}

nav ul li {
  float: left;
}

nav li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

nav li a.active {
  background-color: var(--accent2-s2);
  color: black;
}

nav li a:hover:not(.active) {
  background-color: var(--accent2);
  color: black;
}

nav li a:hover.active {
  background-color: var(--accent2);
  color: black;
}

.inhoud {
  margin-left: auto;
  margin-right: auto;
  padding:1px 16px;

}

.explain {
  margin-left: 10px;
  margin-right: 20px;
  width: 68%;
}

.uitleg {
  width: 85%;
}

.button a:link,.button a:visited {
  background-color: var(--accent1-s4);
  color: black;
  border: 2px solid var(--accent1);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

.button a:hover,.button a:active {
  background-color: var(--accent1);
  color: white;
  border-radius: 10px;
}

.center {
  margin:auto;
  text-align: center;
}

h4 {
  margin-bottom: 0px;
  margin-top: 3px;
}

ol, ul {
  margin-top: 0px;
}

tr a {
  color: black;
}

pre {
  margin-bottom: 0px;
}

.third {
  width: 33%;
}

table, td{
  padding-left: 5px;
  padding-right: 5px;
}

th.mid {
  text-align: center;
}

footer {
  margin-top:auto;
  width: 100%;
  background-color: var(--main-s4);
  color: white;
}
